<h1>Source</h1>
<p>
  <%= link_to "Sign up", new_user_path, class: "button" %>
</p>
<p>
  <%= link_to "Log in", new_session_path, class: "button button-outline" %>
</p>
Welcome to source -  an exclusive image stock photo subscription service.
