<div class="title">
  <h1>Photos</h1>
</div>
<div class="items-grid">
  <%= render partial: "item", collection: @items %>
</div>
<!--<p>
  <%# @items.each do |item| %>
    <%#= image_tag(item.image.medium.url) %>
  <%# end %>
</p>-->
